@using ECommerceWebUI.Models.ViewModels.AdminViewModels.ListModel;
@model BannerView
@{
	ViewData["Title"] = "BannerImgEdit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Banner Yönetimi</h1>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- Search Customer -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="col-md-12">
				<div class="card card-primary card-outline card-tabs">
					<div class="card-header">
						<h3 class="card-title">Düzenle</h3>
					</div>
					<div class="card-body">
						<form enctype="multipart/form-data" asp-action="BannerImgEdit" asp-controller="Admin" method="post">
							<div asp-validation-summary="All"></div>
							<input type="hidden" asp-for="@Model.SliderID" />
							<div class="form-group">
								<label asp-for="@Model.SliderName">Banner Name</label>
								<input type="text" id="inputName" class="form-control" asp-for="@Model.SliderName">
							</div>
							<div class="form-group">
								<label asp-for="@Model.SliderLink">Banner Url</label>
								<input type="text" class="form-control" asp-for="@Model.SliderLink">
							</div>
							<div class="form-group">
								<label asp-for="@Model.SliderAlt">Banner Alt</label>
								<input type="text" class="form-control" asp-for="@Model.SliderAlt">
							</div>
							<div class="form-group">
								@if (Model.ImgName != null)
								{

									<div style="width:25%">
										<img class="img-fluid" src="~/img/@Model.ImgName">
									</div>
									<br />
								}
								@if (Model.SliderPossition == 1)
								{
									<label for="exampleInputFile">Görsel Yükle (1175px x 430px)</label>
								}
								else if (Model.SliderPossition == 2 || Model.SliderPossition == 3)
								{
									<label for="exampleInputFile">Görsel Yükle (572px x 200px)</label>
								}
								else if(Model.SliderPossition==4 || Model.SliderPossition==5)
								{
									<label for="exampleInputFile">Görsel Yükle (873px x 300px)</label>

								}
								<div class="input-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="exampleInputFile" asp-for="@Model.Img">
										<label class="custom-file-label" for="exampleInputFile" asp-for="@Model.Img">...</label>
									</div>
								</div>
							</div>
							<div class="form-check">
								<input type="checkbox" class="form-check-input" asp-for="@Model.SliderActive">
								<label class="form-check-label" asp-for="@Model.SliderActive">Görsel Aktif Mi?</label>
								<input type="hidden" asp-for="@Model.SliderPossition">
							</div>

							<button type="submit" class="btn btn-success mt-3" asp-action="BannerImgEdit" asp-controller="Admin" method="post">Kaydet</button>
							<a class="btn btn-danger mt-3" asp-action="BannerEdit" asp-controller="Admin" asp-route-id="@Model.SliderPossition">İptal</a>
						</form>
					</div>
					<!-- /.card-body -->
					<!-- /.card -->
				</div>


				<!-- /.row -->
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->
</div>

@section Scripts{
	<!-- bs-custom-file-input -->
	<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

	<script>
		$(function () {
			bsCustomFileInput.init();
		});
	</script>
}

