@using ECommerceWebUI.Models.ViewModels.AdminViewModels.ViewModel;
@model AdminProductListViewModel
@{
	ViewData["Title"] = "ProductList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Ürünler</h1>
				</div><!-- /.col -->
				<div class="col-sm-6">
					<ul class="breadcrumb float-sm-right">
						<a href="#" class="btn btn-success btn-sm">
							<i class="fa fa-plus-square"></i>
							Yeni Ekle
						</a>

					</ul>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- Search Customer -->
	<section class="content">

		<!-- Default box -->
		<form asp-action="ProductList" asp-controller="Admin" method="post">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Ürün Ara</h3>
				</div>
				<div class="card-body row">
					<div class="col-lg-4">
						<!-- Date dd/mm/yyyy -->
						<div class="form-group">
							<label>Ürün İsmi</label>
							<div class="input-group">
								<input type="text" class="form-control" asp-for="UrunAdi">
							</div>
							<!-- /.input group -->
						</div>
						<!-- /.form group -->
						<!-- phone mask -->
						<div class="form-group">
							<label>Ürün Barkodu</label>
							<div class="input-group">
								<input type="text" class="form-control" asp-for="UrunBarkod">
							</div>
							<!-- /.input group -->
						</div>

						<!-- /.form group -->
					</div>
					<div class="col-lg-4">
						<!-- Category-->
						<div class="form-group">
							<div class="form-group">
								<label>Kategori</label>

								<select class="form-control">
									<option>Seçiniz</option>
									@foreach (var item in Model.Kategoriler)
									{
										<option value="@item.Value" name="kategori">@item.Text</option>

									}
								</select>

							</div>
							<!-- /.input group -->
						</div>
						<!-- Category -->
						<!-- /.form group -->
						<!-- Görselli/Görselsiz-->
						<div class="form-group">
							<div class="form-group">
								<label>Ürün Resmi</label>
								<select class="form-control">
									@foreach (var gorsel in Model.UrunGorseli)
									{
										<option>@gorsel</option>
									}
								</select>
							</div>
							<!-- /.input group -->
						</div>
						<!-- /.form group -->

					</div>
					<div class="col-lg-4">
						<!-- Yayınlandı-->
						<div class="form-group">
							<div class="form-group">
								<label>Yayınlanma Durumu</label>
								<select class="form-control">
									@foreach (var yayin in Model.YayınlanmaDurumu)
									{
										<option>@yayin</option>

									}
								</select>
							</div>
							<!-- /.input group -->
						</div>
						<!-- Yayınlandı -->
						<!-- /.form group -->

					</div>
					<!-- /.card-body -->
					<div class="col-lg-12">
						<a class="btn btn-info btn-sm col-12" href="#">
							<i class="fas fa-search">
							</i> Arama
						</a>
					</div>

				</div>

				<!-- /.card -->
			</div><!-- /.row -->
		</form>
	</section>
	<!-- Search Customer -->
	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Ürünler</h3>
			</div>
			<div class="card-body p-0">
				<table class="table table-striped projects">
					<thead>
						<tr>
							<th style="width: 15%">
								Ürün Görsel
							</th>
							<th style="width: 20%">
								Ürün İsmi
							</th>
							<th style="width: 14%">
								Birim Fiyatı
							</th>
							<th style="width: 10%">
								Aktif
							</th>
							<th style="width:14%">
								Stok Düzeyi
							</th>
							<th class="width:14%">
								Birimdeki Miktar
							</th>
							<th class="width: 15%">
								Düzenle
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var urun in Model.Urunler)
						{
							<tr>
								<td>
									@if (urun.UrunID != null)
									{
										<img src="~/img/user.jpg" height="50px" width="50px" />

									}
								</td>
								<td>
									<a>
										@urun.UrunAdi
									</a>
								</td>
								<td>
									<a>
										@urun.BirimFiyati
									</a>
								</td>
								<td>
									@if (urun.Sonlandi == false)
									{
										<i class="icon fas fa-check text-success"></i>

									}
								</td>
								<td>
									<a>
										@urun.HedefStokDuzeyi
									</a>
								</td>
								<td>
									<a>
										@urun.BirimdekiMiktar
									</a>
								</td>
								<td>
									<a class="btn btn-info btn-sm" href="#">
										<i class="fas fa-pencil-alt">
										</i>
										Düzenle
									</a>
								</td>


							</tr>
						}
					</tbody>

				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->


	</section>
	<!-- /.content -->
</div>

