@using ECommerceWebUI.Models.ViewModels.AdminViewModels.ViewModel.Orders;
@model ShipmentViewModel
@{
	ViewData["Title"] = "Shipment";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Nakliyeler</h1>
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- Search Customer -->
	<section class="content">

		<!-- Default box -->

		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Nakliye Ara</h3>
			</div>
			<form asp-action="Shipment" asp-controller="Admin" method="get">

				<div class="card-body row">
					<div class="col-lg-4">

						<!-- Date -->
						<div class="form-group">
							<label>Başlangıç Tarihi</label>
							<div class="input-group date" id="reservationdates" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" name="sd" data-target="#reservationdates" />
								<div class="input-group-append" data-target="#reservationdates" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
						<!-- Date dd/mm/yyyy -->
						<div class="form-group">
							<label>Bitiş Tarihi</label>
							<div class="input-group date" id="reservationdate" data-target-input="nearest">
								<input type="text" class="form-control datetimepicker-input" name="ld" data-target="#reservationdate" />
								<div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="fa fa-calendar"></i></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<!-- Teslimat-->
						<div class="form-group">
							<div class="form-group">
								<label>Teslimat Durumu</label>
								<select class="form-control" name="td">
									@{
										var x = 0;

									}
									@foreach (var item in Model.TeslimatDurumu)
									{
										<option value="@x">@item</option>
										x++;
									}
								</select>
							</div>
							<div class="form-group">
								<label>Müsteri Adı</label>
								<input type="text" class="form-control datetimepicker-input" name="ma" data-target="#reservationdate" />

							</div>
							<!-- /.input group -->
						</div>
						<!-- Teslimat -->
						<!-- /.form group -->
					</div>
					<div class="col-lg-4">
						<!-- Siparis Numarası-->
						<div class="form-group">
							<div class="form-group">
								<label>Siparis Numarası</label>
								<input type="text" class="form-control datetimepicker-input" name="sn" data-target="#reservationdate" />

							</div>
							<!-- /.input group -->
						</div>
						<!-- Siparis Numarası -->

					</div>
					<!-- /.card-body -->
					<div class="col-lg-12">
						<button type="submit" asp-action="Shipment" asp-controller="Admin" class="btn btn-info btn-sm col-12">
							<i class="fas fa-search">
							</i> Arama
						</button>
					</div>

				</div>
			</form>

			<!-- /.card -->
		</div><!-- /.row -->


	</section>
	<!-- Search Customer -->
	<!-- Main content -->
	<section class="content">
		<!-- Default box -->
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Nakliye</h3>
			</div>
			<div class="card-body p-0">
				<table class="table table-striped projects">
					<thead>
						<tr>
							<th style="width: 15%">
								Sipariş Numarası
							</th>
							<th style="width: 25%">
								Müşteri
							</th>
							<th style="width: 15%">
								Sevk Tarihi
							</th>
							<th style="width:20%">
								Teslim Tarihi
							</th>
							<th style="width:15%">
								Teslim Durumu
							</th>
							<th>
								Göster
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.Satislar)
						{
							<tr>
								<td>
									@item.SatisID
								</td>
								<td>
									@item.MusteriID
								</td>
								<td>
									@item.SevkTarihi
								</td>
								<td>
									@item.TeslimatTarihi
								</td>
								<td>
									@if (@item.TeslimatTarihi != null)
									{
										<i class="icon fas fa-check text-success"></i>
									}
								</td>

								<td>
									<a class="btn btn-info btn-sm" href="#">
										<i class="fa fa-eye"></i>
										Göster
									</a>
								</td>
							</tr>

						}
					</tbody>

				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->


	</section>
	<!-- /.content -->
</div>

@section Scripts{
	<script>
		$(function () {
			//Date picker
			$('#reservationdate').datetimepicker({
				format: 'L'
			});

			//Date and time picker
			$('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });

			//Date picker
			$('#reservationdates').datetimepicker({
				format: 'L'
			});

			//Date and time picker
			$('#reservationdatetimes').datetimepicker({ icons: { time: 'far fa-clock' } });

		})
	</script>

}